{% extends "layout.html" %}
{% block body %}
<header>
    <div class="about_title">
        <h1>About tracker</h1>
    </div>
</header>
<main>
    <div class="main-body">
        <section class="child child1">
            <img id="headshot" src="https://avatars.githubusercontent.com/u/63213234?v=4" alt="headshot">
            <div>
                <h3>Creator</h3>
                <p>I'm Isaiah Martin, the creator behind it all. With 1 year of experience, I've crafted digital experiences that track ungulates. From 'Tracks', I've learned the importance of writing high-quality code and blending it with design.</p>
            </div>
        </section>
        <section class="child child2">
            <img class="logo-img" src="https://www.nps.gov/yell/learn/nature/images/TrackDeer.png" alt="logo">
            <div>
                <h3>Ideas origin</h3>
                <p>I was taking a walk outside one afternoon and I stumbled across some sort of animal tracks. I wondered what they were, so I took a picture of them. When I got home, I tried to look up what they were, and after a couple of minutes, I figured it out. Then the idea hit me that I should build an AI-powered website that can do what I did.</p>
            </div>
        </section>

        <div class="social">
            <div class="social-item">
                <a href="https://www.instagram.com/isaiahmartin.847/" ><img class="social-img" src="https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg" alt="instagram"></a>   
            </div>
            <div class="social-item">
                <a href="https://twitter.com/isaiahmartin847"><img class="social-img" src="https://freepnglogo.com/images/all_img/1691832460x-twitter-logo-png.png" alt="X or twitter"></a>
            </div>
            <div class="social-item">
                <a href="https://www.linkedin.com/in/isaiah-martin-a91229199/"><img class="social-img" src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" alt="linked in"></a>
            </div>
            <div class="social-item">
                <a href="https://github.com/isaiahmartin847"><img class="social-img" src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" alt="GitHub"></a>
            </div>
        </div>
    </div>  

</main>
    
{% endblock %}