{% extends "layout.html" %}
{% block body %}
<header>
    <div class="about_title">
        <h1>About tracker</h1>
    </div>
</header>
<main>
    <div class="main-body">
        <section class="child child1">
            <img id="headshot" src="https://i0.wp.com/images.wikia.com/disney/images/c/c7/Clu_2_headshot.png" alt="headshot">
            <div>
                <h3>title</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo quidem doloribus quisquam id dolorum delectus? Fuga rerum maiores unde error eveniet eos optio quo minima, magni natus reiciendis excepturi necessitatibus! </p>
            </div>
        </section>
        <section class="child child2">
            <img class="logo-img" src="https://www.nps.gov/yell/learn/nature/images/TrackDeer.png" alt="logo">
            <div>
                <h3>title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum vitae est earum quo voluptatem commodi ipsam molestiae quas suscipit ut soluta saepe nulla, neque beatae voluptatibus dolorem voluptates ducimus veniam!</p>
            </div>
        </section>

        <div class="social">
            <div class="social-item">
                <img class="social-img" src="https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg" alt="instagram">    
            </div>
            <div class="social-item">
                <img class="social-img" src="https://freepnglogo.com/images/all_img/1691832460x-twitter-logo-png.png" alt="X or twitter">
            </div>
            <div class="social-item">
                <img class="social-img" src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" alt="linked in">
            </div>
        </div>
    </div>  

</main>
    
{% endblock %}