{% extends "layout.html" %}



{% block body %}

<header class="main-header">
    <div class="banner">
        <h1>Welcome to tracker</h1>
        <button type="button" class="btn btn-dark">ID Tracks</button>
    </div>
    <h3>More</h3>
    <div class="arrow">
    <span class="arrow-down"></span>
    </div>
</header>



<main class="container">
    <section class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQrvxA6I2Uoj0GKKnIvsZKhnbrJkV8aHKRHg&s">
        <div>
            <h3>tracks</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque non odit praesentium, unde harum nemo accusantium, quis saepe ipsa iure totam commodi nostrum laudantium excepturi quia cum? Eveniet, voluptatibus libero?</p>
        </div>
    </section>


    <section class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQrvxA6I2Uoj0GKKnIvsZKhnbrJkV8aHKRHg&s">
        <div>
            <h3>tracks</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque non odit praesentium, unde harum nemo accusantium, quis saepe ipsa iure totam commodi nostrum laudantium excepturi quia cum? Eveniet, voluptatibus libero?</p>
        </div>
    </section>


    <section class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQrvxA6I2Uoj0GKKnIvsZKhnbrJkV8aHKRHg&s">
        <div>
            <h3>tracks</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque non odit praesentium, unde harum nemo accusantium, quis saepe ipsa iure totam commodi nostrum laudantium excepturi quia cum? Eveniet, voluptatibus libero?</p>
        </div>
    </section>
</main>



{% endblock %}