* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-size: 1.3rem;
}

.primary-color {
    background-color: #848A9C;
}

/*.container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding:0 2rem;
    color: black;
}

*/
