.primary-color {
    background-color: #848A9C;
}


.headerText {
    margin-bottom: 600px;
    
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid black; /* Adjust color and size as needed */
    margin-left: 178px;
  }